<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="webstack.module.siteSection.mapper.SiteSectionMapper">

    <select id="selectBySiteId" resultType="webstack.module.siteSection.entity.SiteSection">
        SELECT * FROM site_section WHERE site_id = #{siteId} ORDER BY sort ASC, id ASC
    </select>

</mapper>
